<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/index.js" defer></script>

    <title>Solo traveler Survey</title>

    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:wght@352&display=swap"
        rel="stylesheet">
</head>

<body class="h-screen text-lime-950">
    <div class="md:flex md:h-screen">
        <div class="bg-lime-100 md:w-1/4 p-8">
            <h1 class="font-black uppercase text-3xl mb-6 text-balance">Solo Traveler Survey 🎒🌴</h1>

            <div class="mb-6 text-lime-900 text-base">
                <p>This is just a small personal project, not a big research study—I'm simply curious about different experiences and
                perspectives. Your answers will help me explore this topic, and there are no right or wrong answers. Let's get started!</p>
            </div>

            <div class="mb-6 p-6 bg-white">
                <form id="survey-form" method="POST" action="/submit_survey">

                    <div class="h-[150px]">
                        <!-- First Question -->
                        <div id="step-1" class="step col justify-center w-full">
                            <div>
                                <label for="solo_travel" class="block mb-4 text-lg font-semibold text-left">Do you consider yourself a solo traveler?</label>
                                <div class="flex gap-4">
                                    <div class="items-center">
                                        <input checked id="solo_travel_yes" type="radio" name="solo_travel" value="yes" 
                                        class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-200 focus:ring-blue-500">
                                        <label for="solo_travel_yes" class="ms-2 text-base">Yes</label>
                                    </div>
                                    <div class="items-center">
                                        <input id="solo_travel_no" type="radio" name="solo_travel" value="no" 
                                        class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-200 focus:ring-blue-500">
                                        <label for="solo_travel_no" class="ms-2 text-base">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--  Second Question -->

                        <div id="step-2" class="step hidden col justify-center w-full">
                            <div>
                                <label for="trip-count" class="block mb-4 text-lg font-semibold text-left">How many trips have you
                                    taken?</label>
                                <select id="trip-count" name="trip_count"
                                    class="bg-zinc-50 border border-zinc-200 text-base focus:ring-blue-500 focus:border-blue-500 block w-full">
                                    <option selected>-</option>
                                    <option value="0-1">0-1</option>
                                    <option value="2-5">2-5</option>
                                    <option value="6+">6+</option>
                                </select>
                            </div>
                        </div>
                        
                        <!-- Third Question -->

                        <div id="step-3" class="step hidden col justify-center w-full">
                            <label for="travel_reason" class="block mb-4 text-lg font-semibold text-left">What motivates you to
                                travel the most?</label>
                            <select id="travel_reason" name="travel_reason"
                                class="bg-zinc-50 border border-zinc-200 text-base focus:ring-blue-500 focus:border-blue-500 block w-full">
                                <option selected>-</option>
                                <option value="Adventure">Adventure 🌿</option>
                                <option value="Cultural Immersion">Cultural Immersion 🏛️</option>
                                <option value="Relaxation">Relaxation 🏖️</option>
                                <option value="Budget-friendly">Budget-friendly💰</option>
                            </select>
                        </div>

                        <!-- Fourth Question -->

                        <div id="step-4" class="step hidden col justify-center w-full"> 
                            <label for="trip_enjoyment" class="block mb-4 text-lg font-semibold text-left">What's the best part of traveling
                                for you?</label>
                            <select id="trip_enjoyment" name="trip_enjoyment"
                                class="bg-zinc-50 border border-zinc-200 text-base focus:ring-blue-500 focus:border-blue-500 block w-full">
                                <option selected>-</option>
                                <option value="Practicing a new language">Practicing a new language 🗣️</option>
                                <option value="Meeting new people">Meeting new people 👫</option>
                                <option value="Exploring new places">Exploring new places 🏔️</option>
                                <option value="Trying new food">Trying new food 🍜</option>
                            </select>
                        </div>

                        <!-- Fifth Question -->

                        <div id="step-5" class="step hidden col justify-center w-full">
                            <label for="spontaneity" class="block mb-4 text-lg font-semibold text-left">How spontaneous are you when planning a
                                trip?</label>
                            <input id="spontaneity" name="spontaneity" type="range" min="1" max="10" value="5" class="slider w-full mb-4">
                            <div class="flex justify-between">
                                <span class="text-sm start-0 -bottom-6">🐌 Slow & Thoughtful</span>
                                <span class="text-sm end-0 -bottom-6">🎒 Backpack & Go</span>
                            </div>
                        </div>

                        <!-- Sixth Question -->
                        
                        <div id="step-6" class="step hidden col justify-center w-ful">
                            <label for="next_destination" class="block mb-4 text-lg font-semibold text-left">Do you already have your next
                                destination in mind?</label>
                            <div class="flex items-center gap-5">
                                <div class="items-center">
                                    <input checked id="next_destination" type="radio" value="" name="next_destination"
                                        class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-200 focus:ring-blue-500">
                                    <label for="next_destination" class="ms-2 text-base font-normal">Yes</label>
                                </div>
                                <div class="=items-center">
                                    <input id="next_destination" type="radio" value="" name="next_destination"
                                        class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-200 focus:ring-blue-500">
                                    <label for="next_destination" class="ms-2 text-base font-normal">No</label>
                                </div>
                            </div>
                        </div>

                        <!-- Seventh Question -->
                        
                        <div id="step-7" class="step hidden col justify-center w-full">
                            <label for="enjoyment_rate" class="block mb-4 text-lg font-semibold text-left">How much did you enjoy your last
                                trip?</label>
                            <input id="enjoyment_rate" name="enjoyment_rate" type="range" min="1" max="10" value="5" class="slider w-full mb-4">
                            <div class="flex justify-between">
                                <span class="text-sm start-0 -bottom-6">😭 Never Again</span>
                                <span class="text-sm end-0 -bottom-6">🏝️ Take me back!</span>
                            </div>
                        </div>
                

                    <!-- Eigth Question -->
                    
                    <div id="step-8" class="step hidden col justify-center w-full">
                        <div class="mb-6">
                            <label for="travel_wishes" class="block mb-4 text-lg font-semibold text-left">Describe your dream trip in one
                                sentence.</label>
                            <input type="text" id="travel_wishes" name="travel_wishes"
                                class="block w-full p-4 border border-zinc-200 bg-zinc-50 text-base focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    </div>
                 
                    
                    <!-- Results -->
                    <div id="step-9" class="step hidden">
                        <p class="uppercase text-sm font-semibold">Thank you for your submission! 💚</p>
                        <div id="sentiment-result" class="mt-2"></div>
                        <div id="cluster-result" class="mt-2"></div>
                    </div>
                </div>

                    <!-- Navigation Buttons -->
                    <div class="flex justify-end gap-2 mt-4">
                        <button type="button" id="prevBtn" class="bg-zinc-200 text-white py-2 px-4 hidden">Previous</button>
                        <button type="button" id="nextBtn" class="bg-blue-500 text-white py-2 px-4"">Next</button>
                        <button type="submit" id="submitBtn" class="bg-blue-500 text-white py-2 px-4" hidden">Submit</button>
                    </div>
        
                    <!-- Submit -->
                    <!-- <button type="submit" class="bg-indigo-600 text-white py-2 px-4 hover:bg-indigo-500">Submit</button> -->
                </form>
            </div>

            <!-- Info box -->
            <div id="alert-5" class="flex items-center p-4 bg-zinc-50" role="alert">
                <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="fill-zinc-500" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div class="ms-3 text-sm font-normal text-zinc-500">
                    <span class="font-semibold">Note:</span> Currently, 1000 entries in the database are dummy data generated using <a href="https://www.mockaroo.com/" class="font-semibold underline hover:no-underline">Mockaroo.com</a> and Python's random module for
                    prototyping purposes.
                </div>
                <button type="button"
                    class="ms-auto -mx-1.5 -my-1.5 bg-zinc-50 text-zinc-500 focus:ring-2 focus:ring-zinc-400 p-1.5 inline-flex items-center justify-center h-8 w-8"
                    data-dismiss-target="#alert-5" aria-label="Close">
                    <span class="sr-only">Dismiss</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                </button>
            </div>
        </div>


        <div class="bg-zinc-50 md:w-3/4 p-8">

            <!-- Header -->

            <div class="md:flex md:justify-between md:items-end">
                <div class="bg-white py-2 px-4 w-fit">
                    <p id="todayDate" class="text-xl font-bold">-</p>
                </div>

                <!-- Legend -->

                <div class="bg-white p-3">
                    <div class="flex gap-8">
                        <div class="flex gap-2 items-center">
                            <div class="h-3 w-3 bg-lime-200"></div>
                            <div class="text-sm">Solo Traveler</div>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="h-3 w-3 bg-zinc-200"></div>
                            <div class="text-sm">Non-solo Traveler</div>
                        </div>
                    </div>
                </div>
                
            </div>

            <hr class="mt-4 mb-4">

            <!-- Solo vs Non-solo Travelers count -->

            <div class="flex flex-col gap-6 ">

                <div class="md:flex md:flex-row md:gap-6 flex flex-col gap-6">
                    <div class="bg-white p-6">
                        <div class="mb-6 text-end">
                            <p id="soloPercentage" class="text-3xl font-bold">0%</p>
                            <p class="text-sm whitespace-nowrap font-normal">Solo Travelers</p>
                        </div>
                        <h4 class="uppercase text-sm font-semibold pb-6">Solo vs Non-solo<br>Travelers count</h4>
                        <div><canvas id="soloTravelChart"></canvas></div>
                    </div>

                    <!-- Dashboard stats column -->

                    <div class="md:flex md:flex-col md:w-fit w-full">
                        <div class="bg-white p-4 w-full">
                            <div class="flex gap-2 items-center mb-3">
                                <div class="h-3 w-3 bg-lime-200"></div>
                                <h4 class="uppercase text-sm font-semibold">Solo travelers</h4>
                            </div>
                            <p id="avgEnjoymentSolo" class="text-3xl font-bold text-end">0</p>
                            <p class="text-sm whitespace-nowrap font-normal text-end">Avg. Enjoyment</p>
                            <p id="avgSpontaneitySolo" class="text-3xl font-bold text-end">0</p>
                            <p class="text-sm whitespace-nowrap font-normal text-end">Avg. Spontaneity</p>
                            
                        </div>

                        <hr class="mt-4 mb-4">

                        <div class="bg-white p-4 w-full">
                            <div class="flex gap-2 items-center mb-3">
                                <div class="h-3 w-3 bg-zinc-200"></div>
                                <h4 class="uppercase text-sm font-semibold">Non-Solo travelers</h4>
                            </div>
                                <p id="avgEnjoymentNonSolo" class="text-3xl font-bold text-end">0</p>
                            <p class="text-sm whitespace-nowrap font-normal text-end">Avg. Enjoyment</p>
                            <p id="avgSpontaneityNonSolo" class="text-3xl font-bold text-end">0</p>
                            <p class="text-sm whitespace-nowrap font-normal text-end">Avg. Spontaneity</p>
                        </div>
                        
                    </div>

                    <div class="bg-white p-6">
                        <div class="flex gap-6 mb-6 justify-end">
                            <div class="text-right">
                                <p id="totalSubmissions" class="text-3xl font-bold">0</p>
                                <p class="text-sm whitespace-nowrap font-normal">Submissions</p>
                            </div>

                            <div class="text-right">
                                <p id="newToday" class="text-3xl font-bold">0</p>
                                <p class="text-sm whitespace-nowrap font-normal">New Today</p>
                            </div> 
                        </div>
                        <h4 class="uppercase text-sm font-semibold mb-4">Submissions over time</h4>
                        <div><canvas id="submissionsTime"></canvas></div>
                    </div>
                </div>
                
                <!-- Bootom charts -->
                <div class="md:flex md:flex-row md:gap-6 flex flex-col gap-6">
                    <div class="md:w-1/2 bg-white p-6">
                        <h4 class="uppercase text-sm font-semibold pb-6">Travel reasons by traveler type</h4>
                        <div><canvas id="travelReasonCount"></canvas></div>
                    </div>
                    <div class="md:w-1/2 bg-white p-6">
                        <h4 class="uppercase text-sm font-semibold pb-6">Trip Enjoyment by traveler type</h4>
                        <div><canvas id="tripEnjoymentChart" width="200" height="100"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>

</html>