<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/index.js" defer></script>

    <title>Solo traveler Survey</title>

    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:wght@352&display=swap"
        rel="stylesheet">
</head>

<body style="font-family: IBM Plex Sans;font-weight: 600;font-size:16px">

    <div class="flex h-screen">
        <div class="bg-indigo-900 w-1/4 p-4 text-white">
            <h1 class="font-extrabold">Solo Traveler Survey</h1>

            <form id="survey-form" method="POST" action="/submit_survey">

                <!-- First Question -->
                <label for="solo_travel" class="block mb-2">Have you ever traveled solo?</label>
                <select name="solo_travel" id="solo_travel" class="block w-full p-2 mb-4">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
    
                <hr class="border-gray-500 mb-4">
    
                <!-- Second Question -->
                <label for="trip_count" class="block mb-2">How many solo trips have you taken?</label>
                <select name="trip_count" id="trip_count" class="block w-full p-2 mb-4">
                    <option value="0-1">0-1</option>
                    <option value="2-5">2-5</option>
                    <option value="6+">6+</option>
                </select>
    
                <hr class="border-gray-500 mb-4">

                <!-- Third Question -->
                <label for="travel_reason" class="block mb-2">What’s your main reason for traveling solo?</label>
                <select name="travel_reason" id="travel_reason" class="block w-full p-2 mb-4">
                    <option value="Adventure">Adventure 🌿</option>
                    <option value="Cultural Immersion">Cultural Immersion 🏛️</option>
                    <option value="Relaxation">Relaxation 🏖️</option>
                    <option value="Budget-friendly">Budget-friendly💰</option>
                </select>
    
                <hr class="border-gray-500 mb-4">
    
                <!-- Fourth Question -->
                <label for="trip_enjoyment" class="block mb-2">What do you enjoy most about your trips?</label>
                <select name="trip_enjoyment" id="trip_enjoyment" class="block w-full p-2 mb-4">
                    <option value="Practicing a new language">Practicing a new language 🗣️</option>
                    <option value="Meeting new people">Meeting new people 👫</option>
                    <option value="Exploring new places">Exploring new places 🏔️</option>
                    <option value="Trying new food">Trying new food 🍜</option>
                </select>
    
                <hr class="border-gray-500 mb-4">
    
                <!-- Fifth Question -->
                <label for="spontaneity" class="block mb-2">How spontaneous are you when planning a solo trip?</label>
                <input type="range" name="spontaneity" min="1" max="10" value="5" class="slider w-full mb-4"
                    id="spontaneity">
    
                <hr class="border-gray-500 mb-4">
    
                <label for="next_destination" class="block mb-2">Do you already have in mind your next destination?</label>
                <select name="next_destination" id="next_destination" class="block w-full p-2 mb-4">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
    
                <hr class="border-gray-500 mb-4">
    
                <!-- Sixth Question -->
                <label for="enjoyment_rate" class="block mb-2">How much did you enjoy your last solo trip?</label>
                <input type="range" name="enjoyment_rate" min="1" max="10" value="5" class="slider w-full mb-4"
                    id="enjoyment_rate">
    
                <hr class="border-gray-500 mb-4">
    
                <!-- Seventh Question -->
                <label for="travel_wishes" class="block mb-2">Tell us, in one sentence, how would be your best
                    travel:</label>
                <input type="text" id="travel_wishes" name="travel_wishes" class="block w-full p-2 mb-4">
    
                <!-- Submit -->
                <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-500">Submit</button>
            </form>
    
            <div class="bg-gray-800 bg-opacity-20 mt-4">
                <div id="sentiment-result" class="hidden mt-2"></div>
                <div id="cluster-result" class="hidden mt-2"></div>
            </div>

        </div>

        <div class="bg-indigo-950 w-3/4 p-4">
            <div id="total-submissions-card" class="w-[200px] p-[15px] bg-[#f3f4f5] text-center">
                <p>Total Submissions</p>
                <p id="total-submissions">Loading...</p>
            </div>

            <div class="flex gap-6">
                <div class="w-[30%]"><canvas id="soloTravelChart" width="200" height="100"></canvas></div>
                <div class="w-[50%]"><canvas id="submissionsTime" width="200" height="100"></canvas></div>
            </div>
            
            <div class="flex gap-6">
                <div class="w-[50%]"><canvas id="travelReasonCount" width="200" height="100"></canvas></div>
                <div class="w-[50%]"><canvas id="tripCountChart" width="200" height="100"></canvas></div>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>

</html>